* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.78)),
    url(../img/anime-world.jpg) no-repeat center / cover;
}

.navbar {
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  color: #fecf00;
  font-family: "Redressed", cursive;
  font-size: 30px;
}

.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar__item:not(:first-child) {
  margin-left: 25px;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s ease;
}

.navbar__link:hover,
.navbar__item.active .navbar__link {
  color: #fecf00;
}

.hero {
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  max-width: 900px;
}

.hero__title {
  color: rgba(255, 255, 255, 0.5);
  color: #fecf008c;
  font-size: 60px;
  text-align: center;
  font-family: "Redressed", cursive;
}

.section__top {
    padding-bottom: 50px;
}

.section__title {
  font-family: "Redressed", cursive;
  text-align: center;
  font-size: 50px;
  color: #ffc400;
}

.genre {
  padding: 80px 0;
}

.genre__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.genre__card {
    width: 32%;
    position: relative;
    margin-bottom: 20px;
}

.genre__img--box {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.genre__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.genre__card:hover .genre__img{
    transform: scale(1.2);
}

.genre__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.9));
    border-radius: 5px;
    padding: 15px 10px;
}

.genre__title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
}

.genre__card:hover .genre__title{
    transform: translateY(-20px);
    color: #ffc400;
}